/*** ANIMATIONS ***/

	@keyframes modalopen {
		from {
			opacity: 0;
			transform: translateY(-100%);
		}
		to {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	@keyframes modalclose {
		from {
			opacity: 1;
			transform: translateY(0%);
		}
		to {
			opacity: 0;
			transform: translateY(-100%);
		}
	}

/*** ANIMATIONS ***/