/*** MEDIAQUERIES ***/

	/*** 1240 PX ***/

		@media screen and (max-width: 1240px) {

			.o-header {
				padding: 33px 30px 28px;
				position: fixed;
				top: 0;
				z-index: 9999;
				background: var(--white);
			}

			.o-header.responsive {
				position: fixed;
			}

			.o-header__container,
			.o-footer__container {
				width: 100%;
			}

			.o-header__logo {
				width: 103px;
			}

			.o-header__nav {
				height: auto;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 9999;
				background: var(--dark);
				width: 100%;
				padding: 21px 15px;
				display: block;
			}

			.o-header.responsive .o-header__nav {
				transform: translateY(85px);
				opacity: 1;
				transition: all 350ms ease-in-out;
			}

			.o-header:not(.responsive) .o-header__nav {
				transform: translateY(-100%);
				opacity: 0;
				transition: all 350ms ease-in-out;
			}

			.o-header a:not(.icon) {
				color: var(--white);
				width: 100%;
				display: block;
				text-align: left;
				padding: 7px 14px;
				margin: 0;
				margin-top: 7px;
			}

			.o-header a.icon {
				display: block;
				order: 1;
				padding: 0;
				margin: 0;
			}

			.o-footer {
				padding: 35px 30px 26px;
			}

			.o-footer__copyrights {
				text-align: center;
			}

			.o-hero {
				width: 100%;
			}

			main {
				padding: 113px 30px 0;
			}

			.bground {
				top: 86px;
			}
			
		}

	/*** 1240 PX ***/


	/*** 1024 PX ***/

		@media screen and (max-width: 1024px) {

			.o-hero {
				background: var(--white);
				flex-flow: column wrap;
				box-shadow: none;
				height: auto;
			}
		
			.o-hero__content {
				padding-left: 0;
				min-width: 100%;
			}
	
			.o-hero__headline,
			.o-hero__text {
				color: var(--dark);
			}
		
			.o-hero__headline {
				font-size: 72px;
				line-height: 86px;
			}
		
			.o-hero__text {
				margin-top: 35px;
				padding: 0;
			}
	
			.o-hero__img {
				position: static;
				height: 537px;
				width: 75%;
				margin-top: 55px;
				border-radius: 8px;
			}
		
			.o-hero__img img {
				border-radius: inherit;
			}

			.o-hero__text + .btn-signup {
				display: none;
			}
		
			.o-hero > .btn-signup {
				display: block;
				margin: 32px auto 0;
				padding: 12px 35px;
			}

			main {
				padding: 56px 30px 0;
			}
		}

	/*** 1024 PX ***/


	/*** 960 PX ***/

		@media screen and (max-width: 960px) {

			.o-hero__img {
				height: 437px;
				width: 85%;
			}

			.o-hero__headline {
				font-size: 60px;
				line-height: 72px;
				white-space: normal;
			}

		}

	/*** 960 PX ***/


	/*** 800PX ***/

		@media screen and (max-width: 800px) {

			.o-hero {
				display: block;
				box-shadow: unset;
			}

			.o-hero__content {
				background: var(--white);
				color: var(--dark);
			}

			.o-hero__content::after {
				content: unset;
			}

			.o-hero__headline {
				font-size: 48px;
				line-height: 62.5px;
				white-space: normal;
			}

			.o-hero__text {
				font-size: 16px;
				line-height: 21px;
			}

			.o-hero__img {
				height: 437px;
				width: 100%;
				margin-top: 25px;
			}

			.o-footer {
				padding: 30px 20px 26px;
			}

		}

	/*** 800PX ***/


	/*** 600PX ***/

	@media screen and (max-width: 600px) {

		.o-hero__img {
			height: 337px;
		}

		.o-hero__text {
			font-size: 13px;
			line-height: 17px;
		}

		.bground {
			background-color: var(--white);
			max-height: calc(100% - 85px);
		}

		.content {
			margin: 0;
			max-width: 100%;
			height: 100%;
			padding-top: 0;
			border-radius: 10px 10px 0 0; 
		}

		.modal-body {
			padding: 30px 30px 20px;
			margin: 0;
		}

		label {
			font-size: 14px;
		}

		.text-control,
		.text-label {
			font-size: 14px;
		}

		.close {
			right: 10px;
			top: 10px;
			transform: scale(0.4);
		}

		.btn-signup {
			font-size: 14px;
		}

		.checkbox2-label .checkbox-icon::after {
			width: 8px;
			height: 6px;
			left: 30%;
			top: 30%;
		}

	}

	/*** 600PX ***/


	/*** 375PX ***/
	@media screen and (max-width: 375px) {

		.o-header {
			padding: 33px 20px 28px;
		}

		.o-hero__headline {
			font-size: 32px;
			line-height: 42.5px;
		}

		.o-hero__text {
			margin-top: 21px;
		}

		.o-hero__img {
			height: 237px;
		}

		main {
			padding: 85px 20px 0;
		}

	}

/*** MEDIAQUERIES ***/