/*** MEDIAQUERIES ***/

	/*** 800PX ***/

		@media screen and (max-width: 800px) {

			.hero-section {
				display: block;
				box-shadow: unset;
			}

			.hero-content {
				background: var(--white);
				color: var(--dark);
				padding: 20px;
			}

			.hero-content::after {
				content: unset;
			}

			.hero-content .btn-signup {
				display: none;
			}

			.hero-headline {
				font-size: 4.5rem;
				white-space: normal;
			}

			.hero-text {
				width: unset;
				font-size: 1.5rem;
			}

			.hero-img img {
				border-radius: 10px;
				margin-top: 40px;
			}

			.hero-section > .btn-signup {
				display: block;
				margin: 32px auto 10px;
				padding: 12px 35px;
			}

			.copyrights {
				margin-top: 50px;
				text-align: center;
			}

		}

	/*** 800PX ***/


	/*** 768PX ***/

		@media screen and (max-width: 768px) {

			.o-header a {
				display: none;
			}

			.o-header a.icon {
				float: right;
				display: block;
			}

			.o-header.responsive {
				position: relative;
			}

			.o-header.responsive .icon {
				position: absolute;
				right: 0;
				top: 0;
			}

			.o-header.responsive a {
				float: none;
				display: block;
				text-align: left;
			}

		}

	/*** 768PX ***/


	/*** 540PX ***/

		@media screen and (max-width: 540px) {

			.o-header a {
				display: none;
			}

			.o-header a.icon {
				float: right;
				display: block;
				margin-top: -15px;
			}

		}

	/*** 540PX ***/

/*** MEDIAQUERIES ***/