/*** GENERAL ***/

	:root {
		--font-default: "DM Sans", Arial, Helvetica, sans-serif;
		--font-slab: var(--font-default);
		--modal-duration: 0.8s;
		--max-width : 1360px;
		--desktop-size: 1240px;
		--large-tablet-size: 960px;
		--tablet-size: 768px;
		--large-mobile-size: 600px;
		--mobile-size: 475px;
		--red : #ff0000;
		--red-lighter : #fe142f;
		--red-pastel : #e54858;
		--white : #ffffff;
		--dark : #000000;
		--dark-lighter : #232323;
		--dark-overlay : rgba(0, 0, 0, 0.1);
		--blue : #3876ac;
		--blue-background: rgba(26, 39, 156, 0.4);
		--grey-light : #cccccc;
		--green : #279e7a;
		--transparent: transparent;
	}

	*, *::before, *::after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	  }

	body {
		font-family: var(--font-default);
		font-size: 18px;
		padding: 0;
		margin: 0;
	}

	/*** HEADER ***/

		.o-header {
			padding: 53px 0 84px;
			width: 100%;
		}

		.o-header__container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			width: var(--desktop-size);
			margin: auto;
		}

		.o-header__logo {
			width: 277px;
		}

		.o-header__logo img {
			width: inherit;
		}

		.o-header__nav {
			width: calc(100% - 277px);
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
		}

		.o-header a {
			color: var(--dark);
			font-family: "DM Sans", sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
			text-align: center;
			text-decoration: none;
			display: block;
			padding: 12px 12px;
			margin: 5px;
			transition: all ease 350ms;
			border-radius: 15px;
		}

		.o-header a:not(.icon):hover {
			background-color: var(--red);
			color: var(--white);
			transition: all ease-in-out 350ms;
		}

		.o-header a.icon i:hover {
			color: var(--dark);
			transition: all ease-in-out 350ms;
		}

		.o-header a.active {
			background-color: var(--red);
			color: var(--white);
			border-radius: 15px;
		}

		.o-header .icon {
			display: none;
		}

		.o-header .icon i {
			color: var(--red);
		}

	/*** END HEADER ***/


	/*** FOOTER ***/

		.o-footer {
			padding: 60px 40px 30px;
		}

		.o-footer__container {
			width: var(--max-width);
			margin: auto;
		}

		.o-footer__copyrights {
			color: var(--red-lighter);
			padding: 0;
			font-size: 1rem;
			font-weight: bolder;
		}

	/*** END FOOTER ***/

/*** GENERAL ***/